@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        Discord Events
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/api/hubs/discord").build();

    connection.on("message_created", function (json) {
        var li = document.createElement("li");
        li.textContent = json;
        document.getElementById("messagesList").appendChild(li);
    });

    connection.on("system", function (msg) {
        console.log(msg);
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    }).then(function () {
        connection.invoke("SubscribeEvent", "message_created");
    });
</script>