@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        Discord Events
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var discord = new signalR.HubConnectionBuilder().withUrl("/api/hubs/discord").build();

    discord.on("message_created", function (json) {
        var msg = JSON.parse(json);
        console.log("Received message_created for " + msg.id);
        var li = document.createElement("li");
        li.textContent = msg.author.username + ": " + msg.content;
        document.getElementById("messagesList").appendChild(li);
    });
    
    discord.on("system", function (msg) {
        console.log(msg);
    });

    discord.start().catch(function (err) {
        return console.error(err.toString());
    }).then(function () {
        discord.invoke("SubscribeEvent", "message_created");
    });
</script>